{% extends "submit/base.html" %} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'history/dashboard.css' %}">
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function(){
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
});
</script>
{% endblock %}

{% block main %}
<h1>Completed Reports</h1>

<table class="table table-hover table-responsive">
  <thead class="table-dark">
    <tr>
      <th scope="col">Report Hash</th>
      <th scope="col">Submitted By</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Files</th>
    </tr>
  </thead>
  <tbody>
    {% for report in reports %}
    <tr>
      <td>
        <span class="hash-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ report.report_hash }}">{{ report.report_hash }}</span>
      </td>      
      <td>
        {% if report.user %} 
            {{report.user.username}} 
        {% else %}
            Anonymous
        {% endif %}
      </td>
      <td>{{ report.status }}</td>
        <td>{{ report.submission_date }}</td>
      <td>
        <form method="POST" action="{% url 'history:report' report.id %}">
          {% csrf_token %}
          <input type="hidden" name="change_status_to_pending" value="true">
          <button type="submit" class="btn btn-primary btn-sm">View Report</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
