{% extends 'submit/base.html' %}
{% block title %}Lookup{% endblock%}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.id }}
        </div>
        <div class="mb-3">
            {{ form.user_password }}
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
{% endblock %}
{% block footer %}
    <div class="text-center text-muted p-3">
    CS3240 Team A22
  </div>
{% endblock %}