{% load bootstrap5 %} {% bootstrap_css %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            {{ form.id }}
        </div>
        <div class="form-group">
            <label for="id_user_password">Password</label>
            {{ form.user__password }}
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
{% endblock %}