{% extends "submit/base.html" %} {% block content %}
<h1>Completed Reports</h1>

<table>
  <thead>
    <tr>
      <th>Report ID</th>
      <th>Submitted By</th>
      <th>Date</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    {% for report in reports %}
    <tr>
      <td>{{ report.id }}</td>
      <td>
        {% if report.user %} {{report.user.username}} {% else %} Anonymous {%
        endif %}
      </td>
        <td>{{ report.submission_date }}</td>
      <td>
        <a href="{% url 'shared:report_detail' report.id %}">View Report</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
