{% extends 'submit/base.html' %}
{% block title %}Home{% endblock%}
{% block main %}
<div class="container my-5">
  <header class="text-center mb-4">
    <h1>Welcome To Hoos Honor Reporting</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">
            <a href="https://honor.virginia.edu/">Understand The Code</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center" >
            <a href="/history/lookup"> Find Your Reports</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center" >
              <a href="/submit"> Submit a Report</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center" >
              <a href="/login"> Sign In </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <p>Questions? <a href="mailto:honor@virginia.edu">honor@virginia.edu</a></p>
  </div>
</div>
{% endblock %}

