{% extends "submit/base.html" %}

{% block main %}
<h1>Report Details: {{ report.id }}</h1>
<p><strong>Submitted by:</strong> {% if report.user %}{{ report.user.username }}{% else %}Anonymous{% endif %}</p>
<p><strong>Date:</strong> {{ report.submission_date }}</p>
<p><strong>Summary:</strong> {{ report.report_summary }}</p>

<h2>Associated Files</h2>
<ul>
    {% for file in report.file_set.all %}
    <li>
        <a href="{% url 'shared:render_object_from_s3' s3_object_url=file.get_file_url %}" target="_blank">{{ file.file.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
