    /* Specific cell styling */
  .hash-cell {
    max-width: 10em; /* possibly adjust */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; /* Indicates the text can be interacted with */
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .hash-cell {
      max-width: 100%;
      display: inline-block; /* handle overflow with ellipsis */
    }
  }
  