{% extends 'submit/base.html' %}
{% block title %}Report Submission{% endblock%}
{% block main %}
    {% load static %}
<!-- Incident Report Form -->
<div class="container">
  <h1 class="mt-5">Incident Report Form</h1>
  <form
    action="{% url 'submit:submission_complete' %}"
    method="post"
    enctype="multipart/form-data"
    class="mt-4"
  >
    {% csrf_token %}
    <!-- Background Information Section -->
    <div class="section">
      <h2>Background Information</h2>
      <div class="form-group">
        <label for="date">Date of Incident:</label>
        <input
          type="date"
          id="date"
          name="date"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="location">Location of Incident:</label>
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="incident_category">Incident Category:</label>
        <select id="incident_category" name="incident_category" class="form-control" required>
          <option value="">Select</option>
          <option value="lying">Lying</option>
          <option value="cheating">Cheating</option>
          <option value="stealing">Stealing</option>
        </select>
      </div>
    </div>
    <!-- Involved Students Section -->
    <div class="section" style="margin-top: 20px;">
        <h2>Involved Students/Staff</h2>
        <h5>Please provide their UVA computing IDs, separated by commas and a space (e.g., mst3k, csz6wd, rvb2n)</h5>
        <div class="form-group">
            <label for="student_ids">Involved:</label>
            <input
                type="text"
                id="student_ids"
                name="student_ids"
                class="form-control"
                placeholder="e.g., mst3k, csz6wd, rvb2n"
                required
            />
        </div>
    </div>

    <!-- Incident Summary Section -->
    <div class="section" style="margin-top: 20px;">
      <h2>Incident Summary</h2>
      <div class="form-group">
        <label for="summary">Summary:</label>
        <textarea
          id="summary"
          name="summary"
          class="form-control"
          rows="4"
          required
        ></textarea>
      </div>
    </div>
    <!-- Attach Files Section -->
    <div class="section"  style="margin-top: 20px; ">
      <h2>Attach Files(.txt, .pdf, .jpg)</h2>
      <div class="form-group">
        <label for="fileUpload">Upload Files:</label>
        <input
          type="file"
          id="fileUpload"
          name="file_field"
          class="form-control"
          multiple> 
      </div>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}

{% block footer %}
    <div class="text-center text-muted p-3">© 2024 Team A22, SP24 CS3240</div>
{% endblock %}
