{% extends 'submit/base.html' %}
{% block title %}Submission Complete{% endblock %}

{% block header %}
    <link href="../../static/submit/submission-features.css" rel="stylesheet">
{% endblock %}

{% block banner %}
    <div class="submit-jumbotron">
        <h1 class="text-center mt-5">You have successfully submitted a report!</h1>
    </div>
{% endblock %}

{% block main %}
<p>Case ID: {{ new_report.case_hash }}</p>
<div class="case-id-container">
    <p>Case ID: <span id="caseID">{{ new_report.case_hash }}</span></p>
    <button onclick="copyCaseID()" class="copy-btn">Copy</button>
</div>
<p>Please save this Case ID if you want to check the status of your report later.</p>
<div class="container">
    <p>Return to <a href="{% url 'shared:home' %}">home</a>.</p>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function copyCaseID() {
        var copyText = document.getElementById("caseID");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        alert("Copied the Case ID: " + copyText.textContent);
    }
</script>
{% endblock %}